
refacorizando encuestas




<button class="btn btn-outline-light my-2 my-sm-0"  (click)="openDialog()" type="submit"  *ngIf="userProfile?.perfil == undefined ">Iniciar Sesíon</button>
<!-- <p>{{myVar | date: 'shortDate'}} -->

<div class="container-fluid">
	<div class="row">
        
		<div class="col-md-3">
            
			<div class="jumbotron"  >
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaComienzo" (dateChange)="addEvent('change', $event)"  placeholder="Fecha 1" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFinal" (dateChange)="addEvent('change', $event)"  placeholder="Fecha 2"
                           [formControl]="serializedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  
                  <p>
                    <a class="btn btn-primary btn-large"  (click)="TraerDIASEntreFechas()" >calcular dias</a>
                </p>

                <h1> Cantidad de Turnos: </h1>
                    <h1> {{ count}}</h1>
                  
			</div>
			<ul class="nav nav-pills">
				<li class="nav-item">
					 <a class="nav-link btn btn-primary" href="#">Home <span class="badge badge-light">42</span></a>
				</li>
				<li class="nav-item">
					 <a class="nav-link" href="#">More <span class="badge badge-secondary">16</span></a>
				</li>
            </ul>
            </div>

        
        <div class="col-md-3">
            
                <div class="jumbotron">
                    <h2>
                        turnos cancelados por Especialidad
                    </h2>
                    <p>
                        <a class="btn btn-primary btn-large"  (click)="VotarEspecialista('Odontologo')" >Odontologo</a>
                    </p>
             
                    <p>
                            <a class="btn btn-primary btn-large"  (click)="VotarEspecialista('Odontopediatría')" >Odontopediatría</a>
                        </p>
                        <p>
                                <a class="btn btn-primary btn-large"  (click)="VotarEspecialista('Implantólogo')" >Implantólogo</a>
                            </p>
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                         <a class="nav-link btn btn-primary" href="#">Home <span class="badge badge-light">42</span></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">More <span class="badge badge-secondary">16</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
            
                    <div class="jumbotron">
                        <h2>
                            Contactanos!
                        </h2>
                        <p>
                            Para obtener mas información acerca de nuestros servicios, llamanos al siguiente numero 0800-222-DENTAL (72583).
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large"  (click)="RealizadosPorcliente()" >Turno Realizado por cliente</a>
                        </p>
                        <p>
                                <a class="btn btn-primary btn-large"  (click)="RealizadosPorRecepcion()" >Turno Realizado por Recepcion</a>
                            </p>
                            <p>
                                    <a class="btn btn-primary btn-large"  (click)="mostrarvariable()" >Fecha Ingreso</a>
                                </p>
                            <p>
                                    <a class="btn btn-primary btn-large"  (click)="VotarEspecialista('a')" >Votar Especialidad</a>
                                </p>
                    </div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                             <a class="nav-link btn btn-primary" href="#">Home <span class="badge badge-light">42</span></a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="#">More <span class="badge badge-secondary">16</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2 value=cantidadTurnosOdontopediatria>     </h2>
                        <div class="jumbotron">
                                <h2> especialidades mas elegidas
                                                        </h2>
                                                 
                                <div class="chart-wrapper">
                                        <canvas baseChart 
                                        [datasets]="barChartData"
                                        [labels]="barChartLabels"
                                        [options]="barChartOptions"
                                        [plugins]="barChartPlugins"
                                        [legend]="barChartLegend"
                                        [chartType]="barChartType">
                                      </canvas>
                                    </div>
                    </div>
    </div>
    

    //segundo row
    <h1  > {{cantidadTurnosOdontopediatria}}</h1>
    <h1  > {{cantidadTurnosOdontologo}}</h1>
    <h1  > {{cantidadTurnosImplantologo}}</h1>


    
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                
                <div class="jumbotron">
                    <h2>
                        horario ingresado al sistema!
                    </h2>
                    <p>
                        Para obtener mas información acerca de nuestros servicios, llamanos al siguiente numero 0800-222-DENTAL (72583).
                    </p>
                 
                    <p>
                            <a class="btn btn-primary btn-large"  (click)="VotarEspecialista('a')" >Votar Especialidad</a>
                        </p>
                        <p>
                                <a class="btn btn-primary btn-large"  (click)="VotarEspecialista('a')" >Votar Especialidad</a>
                            </p>
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                         <a class="nav-link btn btn-primary" href="#">Home <span class="badge badge-light">42</span></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">More <span class="badge badge-secondary">16</span></a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-3">
                
                    <div class="jumbotron">
                            <h2> Fechas de Ingreso
                                </h2>
                                <div >  
                                        <mat-card>  
                                          <table *ngFor="let item of items"  id="contentToConvert">  
                                              <tr>  
                                                <!-- <th>Legajo</th>   -->
                                                <th>Ingresos</th>  
                                                <!-- <th>Especialidad</th>   -->
                                              </tr>  
                                              <tr>  
                                                <td>{{item.fecha}}</td>  
                                                <td>{{item.payload.doc.data().fecha}}</td>  
                                                <!-- <td>coco 1</td>   -->
                                              </tr>  
                                             
                                            </table>  
                                              
                                        </mat-card>  
                                      </div>  
                    </div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                             <a class="nav-link btn btn-primary" href="#">Home <span class="badge badge-light">42</span></a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="#">More <span class="badge badge-secondary">16</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                
                        <div class="jumbotron">
                                <div class="chart-wrapper">
                                        <canvas baseChart 
                                        [data]="doughnutChartData"
                                        [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType">
                                      </canvas>
                                    </div>
                        </div>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                 <a class="nav-link btn btn-primary" href="#">Home <span class="badge badge-light">42</span></a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="#">More <span class="badge badge-secondary">16</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                
                            <div class="jumbotron">
                            <h1>        turnos cancelados por Especialidad         </h1>        
                                    <div class="chart-wrapper">
                                            <canvas baseChart 
                                                [datasets]="lineChartData" 
                                                [labels]="lineChartLabels" 
                                                [options]="lineChartOptions"
                                                [colors]="lineChartColors" 
                                                [legend]="lineChartLegend" 
                                                [chartType]="lineChartType" 
                                                [plugins]="lineChartPlugins">
                                            </canvas>
                                        </div>
                        </div>
        </div>
        
    
        //segundo row
        
    </div>