<p >
  listadopeliculas works!
</p>
<table style="margin-left: 250px">
    <thead style="background-color: black; font-size: 33px;color: blue">
    <th>Codigo</th>
    <th>Nombre
    </th>
    <th>Tipo de Pelicula</th>
    <th>Opcion</th>


    </thead>
    <tbody style="background-color: black; font-size: 33px;color: blue">
    <tr  *ngFor="let item of listapeliculas">
    <td>{{item.codigo}}</td>
    <td>{{item.nombre}}</td>
    <td>{{item.tipoPelicula}}</td>
    <!-- <td>  <img *ngIf="loading" class="pl-3" src={{item}} /> -->
    <!-- </td> -->
    <td>        
    </td>


    </tr>
    </tbody>
    </table>