
  <div class="list-group users-list">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"> Mi Historial Clinico</li>
          </ol>
        </nav>
        

    <div *ngFor="let item of listadoHistorial" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="row">
        <div class="col col-md-2 image-col">
          <!-- <img class="image" [src]="item.payload.doc.data().avatar"> -->
        </div>
        <div class="col col-md-8 text-col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Datos Personales</li>
                </ol>
              </nav>
          <h5 class="mb-1"> Codigo de Turno</h5>
          <h5 class="mb-1">Horario </h5>
          <small    >{{item.uidPaciente}}</small>

          <small>Especialidad: {{item.especialidad}}</small>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Datos Laborales</li>
              <small    >{{item.diaTurno}}</small>

            </ol>
          </nav>
          <div class="row" *ngIf="mostrarHistoriaClinica" >
          
              <div class="col col-md-12 text-col">
                  
                </div>
                
              </div>
          <h5 class="mb-1"> Descripcion</h5>
          <small    >{{item.descripcion}}</small>
          <h5 class="mb-1">Horarios</h5>

          <!-- <small>{{item.payload.doc.data().horario}}</small> -->
    
        </div>
        <div class="col col-md-8 text-col">
          <!-- <h5 class="mb-1">{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h5> -->
       
        </div>
        <div class="col col-md-2 actions-col">
   
        </div>
      </div>
    </div>
  </div>
  