<div class="create-page" style="    padding: 20px 60px;
">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Pedir Turno</li>
      </ol>
    </nav>
    <div class="page-content" style=" background-color: #FFF;">
      <div class="row">
      
        <div class="col col-md-12">
          
          
  
          <form class="create-form" style="   padding: 20px;" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
         
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Especialidad</li>
                  </ol>
                </nav>
    
    
                <div class="form-group">
       
                  <select placeholder="especialidad"  [(ngModel)]="especialidades" class="form-control" formControlName="especialidad"
                    style="background-color:#007bff;border-radius: 20px;     height: 40px; font-size: 22px; border: none;  color: #fff;  ">
              
                    <option *ngFor="let tech of especialidadesTurno " [ngValue]="tech">
                      {{ tech }}
                    </option>
              
              
                  </select>
                </div>
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Fecha del turno</li>
                  </ol>
                </nav>


                <div class="form-group">

                  <mat-form-field>
                      <input matInput [matDatepicker] = "picker" [(ngModel)]="DiaTurno"  (dateChange)="addEvent('change', $event)"  formControlName="DiaTurno" placeholder = "Elegi la fecha para tu turno!">
                      <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                   </mat-form-field>
                  </div>

                   
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Horario</li>
              </ol>
            </nav>
            
            <div class="form-group">
                <span></span>
                <select placeholder="horaTurno" class="form-control" (change)="profesionalLibrePorHora()" formControlName="horaTurno" [(ngModel)]="horaTurno"
                  style="background-color:#007bff;border-radius: 20px;     height: 40px; font-size: 22px; border: none;  color: #fff;  ">
            
                  <option *ngFor="let tech of allTechnologies" [ngValue]="tech">
                    {{ tech }}
                  </option>
            
            
                </select>
              </div>
<!--listado-->
            <div class="list-group users-list"  *ngIf="mostrarListado">
                <div *ngFor="let item of profesionales" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="row">
                    <div class="col col-md-2 image-col">
                      <img class="image" [src]="item.avatar">
                    </div>
                    <div class="col col-md-8 text-col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item active" aria-current="page">Datos Personales</li>
                            </ol>
                          </nav>
                      <h5 class="mb-1"> Especialista</h5>
                      <small>{{item.name}}</small>

                
                    </div>
                    <div class="col col-md-8 text-col">
                      <h5 class="mb-1">{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h5>
                   
                    </div>
                    <div class="col col-md-2 actions-col">
                      <button class="btn btn-outline-primary action"  style="background-color: green;"   (click)="viewDetails(item)" type="button">
                        <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                        Elegir
                      </button>
                    
                    </div>
                  </div>
                </div>
            
             
              </div>
              <!--Fin listado -->


            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Profesional</li>
              </ol>
            </nav>


            <div class="form-group">
   
              <select placeholder="cliente"  [(ngModel)]="profesional" class="form-control" formControlName="profesional"
                style="background-color:#007bff;border-radius: 20px;     height: 40px; font-size: 22px; border: none;  color: #fff;  ">
          
                <option *ngFor="let tech of objectKeys(listadoespecialistaspordia) " [ngValue]="tech.id">
                  {{ tech.email }}
                </option>
          
          
              </select>
            </div>

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Consultorio</li>
              </ol>
            </nav>


            <div class="form-group">
              <select placeholder="cliente"  [(ngModel)]="consultorio" class="form-control" formControlName="consultorio"
                style="background-color:#007bff;border-radius: 20px;     height: 40px; font-size: 22px; border: none;  color: #fff;  ">
          
                <option *ngFor="let tech of consultorios" [ngValue]="tech">
                  {{ tech }}
                </option>
          
          
              </select>
            </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Cliente</li>
    </ol>
  </nav>

  <div class="form-group">
   
    <select placeholder="cliente"  [(ngModel)]="cliente" class="form-control" formControlName="cliente"
      style="background-color:#007bff;border-radius: 20px;     height: 40px; font-size: 22px; border: none;  color: #fff;  ">

      <option *ngFor="let tech of clientes" [ngValue]="tech.id">
        {{ tech.email }}
      </option>


    </select>
  </div>

  


  <div class="row submit-button-container" style="                width: 100%;
            justify-content: flex-end; ">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit"
       >Crear</button>
    </div>
  </div>

  <!-- [disabled]="!exampleForm.valid" -->
  </form>

 

  </div>
  </div>
  </div>
  </div>
