
  <div class="list-group users-list">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Turnos </li>
          </ol>
        </nav>
        

    <div *ngFor="let item of listadomisTurnos" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="row">

        <div class="col col-md-12 text-col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Datos Personales</li>
                </ol>
              </nav>
          <h5 class="mb-1"> Codigo de Turno</h5>
          <small>{{item.numTurno}}</small>
          <h5 class="mb-1"> Profesional</h5>
          <small>{{item.profesional}}</small>
          <h5 class="mb-1">ESTADO DEL TURNO </h5>
          <small>{{item.estado}}</small>

          <h5 class="mb-1">Horario </h5>

          <small    >{{item.horaTurno}}</small>
          <h5 class="mb-1">Especialidad </h5>

          <small>{{item.especialidad}}</small>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Detalle </li>
            </ol>
          </nav>
       
          <h5 class="mb-1"> Dias Turno</h5>
           <small>{{item.diaTurno}}</small> 
          <h5 class="mb-1">Horarios</h5>

          <small>{{item.horaTurno}}</small>
    
        </div>
        <div class="col col-md-8 text-col">
          <!-- <h5 class="mb-1">{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h5> -->
       
        </div>
      </div>
    </div>
  </div>
  