
<div class="fondo">
  <h1 style="color:red; text-align: center;">.</h1>
<div style="text-align: center">
  <button  (click)="presion(0,0)" class="casilla">{{nuevoJuego.posiciones[0][0]}}</button>
  <button (click)="presion(0,1)" class="casilla">{{nuevoJuego.posiciones[0][1]}}</button>
  <button  (click)="presion(0,2)" class="casilla">{{nuevoJuego.posiciones[0][2]}}</button>
  <br>
  <button  (click)="presion(1,0)" class="casilla">{{nuevoJuego.posiciones[1][0]}}</button>
  <button (click)="presion(1,1)" class="casilla">{{nuevoJuego.posiciones[1][1]}}</button>
  <button (click)="presion(1,2)" class="casilla">{{nuevoJuego.posiciones[1][2]}}</button>
  <br>
  <button  (click)="presion(2,0)" class="casilla">{{nuevoJuego.posiciones[2][0]}}</button>
  <button  (click)="presion(2,1)" class="casilla">{{nuevoJuego.posiciones[2][1]}}</button>
  <button  (click)="presion(2,2)" class="casilla">{{nuevoJuego.posiciones[2][2]}}</button>
</div>
<br>
<div style="text-align: center">
  <button style="width: 400px;background:white" (click)="nuevoJuego.reiniciar()">Reiniciar</button>
</div>

<div id="snackbar">{{Mensajes}}</div>
</div>