ario,(nombre, mail, clave ,perfil )

<body>
    <!-- <div *ngIf="!unAlumno">
    
    
      <button class="btn btn-lg btn-warning btn-block"  (click)="nuevoAlumno()">Nuevo </button>
    
    
    </div> -->
    <div >
      <h2> Registro de Usuarios</h2>
      <div>
        <label>id:
          <input [(ngModel)]="id" placeholder="id">
        </label>
      </div>
      <div>
          <label>Nombre:
            <input [(ngModel)]="nombre"  placeholder="nombre">
          </label>
        </div>
        <div>
            <label>Mail:
              <input [(ngModel)]="mail"  placeholder="mail">
            </label>
          </div>
        <div>
          <label>Tipo:
            <select style="background-color: aqua; font-size: 46px;margin-left:260px" [(ngModel)]="perfil" >
              <option  value="admin">Administrador</option>
              <option value="visita">Visita</option>
            </select>
            
          </label>
        </div>
     
        <div>
          <label>Clave:
            <input [(ngModel)]="pass" type="password">
          </label>
        </div>
    
        <!-- <img class="card-img-top" src="/assets/imagenes/pordefecto.png" alt="Card image" style="width:70px"> -->
        <!-- <button type="button" class="btn btn-default btn-circle" ><i class="fa fa-cloud-upload"></i>Cambiar</button> -->
        <button class="btn btn-lg btn-success btn-block" style="background-color: aqua; font-size: 46px;margin-left:260px"  (click)="crearUsuario()">Crear</button>
    
      
    
    
    </div>
    </body>