<!-- <div class="create-page" style="    padding: 20px 60px;
">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Estadisticas Especialidades</li>
      </ol>
    </nav>
    <div class="page-content" style=" background-color: #FFF;">
      <div class="row">
      
        <div class="col col-md-12">
          
  
          <form class="create-form" style="   padding: 20px;" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
         
          
                <h1>De las especialidades:</h1>
                <nav style="color:blueviolet" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li  class="breadcrumb-item active" aria-current="page">La más usada.                      </li>
                    </ol>
                  </nav>
  
                  <nav style="color:blueviolet" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li  class="breadcrumb-item active" aria-current="page">La menos usada.                      </li>
                    </ol>
                  </nav>
                  <nav style="color:blueviolet" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li  class="breadcrumb-item active" aria-current="page">Mejores comentarios.                      </li>
                    </ol>
                  </nav>
  
                  <nav style="color:blueviolet" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li  class="breadcrumb-item active" aria-current="page">Peores comentarios.
                      </li>
                    </ol>
                  </nav>





  


  <div class="row submit-button-container" style="                width: 100%;
            justify-content: flex-end; ">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit"
       >Crear</button>
    </div>
  </div>

  </form>

 

  </div>
  </div>
  </div>
  </div> -->