
    <div class="container" >
        <div class="card">
          <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:120px">
          <h1>Velocidad y agilidad aritmética </h1>
          <p class="title">Juego de agilidad mental</p>
          <p>UTN FRA </p>
      
          <div class="container" >
         <button class="btn btn-lg btn-success btn-block" style="background-color:blue ;font-size: 46px"  (click)="agilidad()">JUGAR!</button>
          </div>    
        
        </div>
      
        <div class="card">
          <img class="img-thumbnail" src="./assets/imagenes/ppt.png" alt="Avatar" style="width:120px">
          <h1>Piedra Papel o Tijera</h1>
          <p class="title">Juega contra la máquina</p>
          <p>UTN FRA </p>
          

          <div class="container" >
                <button class="btn btn-lg btn-success btn-block" style="background-color:orange ;font-size: 46px"  (click)="ppt()">JUGAR!</button>
                 </div>            </div>
        <div class="card">
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar" style="width:120px">
          <h1>Adivina el número secreto</h1>
          <p class="title">Juega de estrategia</p>
          <p>UTN FRA </p>
          

          <div class="container" >
                <button class="btn btn-lg btn-success btn-block" style="background-color:green ;font-size: 46px"  (click)="adivina()">JUGAR!</button>
                 </div>            </div>
        <div class="card">
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar"style="width:120px">
          <h1>Anagrama</h1>
          <p class="title">Juega de estrategia</p>
          <p>UTN FRA </p>
          <div class="container" >
                <button class="btn btn-lg btn-success btn-block" style="background-color:greenyellow ;font-size: 46px"  (click)="anagrama()">JUGAR!</button>
                 </div> 
        </div>
        <div class="card">
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar" style="width:120px">
          <h1>TATETI</h1>
          <p class="title">Juega de estrategia</p>
          <p>UTN FRA </p>
           
          <div class="container" >
                <button class="btn btn-lg btn-success btn-block" style="background-color:blue ;font-size: 46px"  (click)="tateti()">JUGAR!</button>
                 </div> 
        </div>
        <div class="card">
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar"style="width:120px">
          <h1>Pregunta2</h1>
          <p class="title">Juega de preguntas</p>
          <p>UTN FRA </p>
          <div class="container" >
                <button class="btn btn-lg btn-success btn-block" style="background-color:blue ;font-size: 46px"  (click)="preguntas()">JUGAR!</button>
                 </div>      </div>