<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>








<div class="row" style="margin-left: 50%;"  *ngIf="!detalles">
    <button class="btn btn-outline-primary action" (click)="imprimir()" type="button">
        Excel
        </button>
        <button class="btn btn-outline-primary action" (click)="exportPDF()" type="button">
            PDF2
            </button>
</div>

   <!-- listado pdf   -------------------------------------------------------------------------------- -->
  <div style="padding-left: 22px !important;"  *ngIf="false">  
      <mat-card style="width: 550px;">  
        <table  class="table table-striped" id="contentToConvert">  
          <thead class="thead-dark"> 
            <tr class="row">  
              <th class="col-sm-3">Legajo</th>  
              <th class="col-sm-6">Nombre</th>  
              <th class="col-sm-3">Especialidad</th>  
            </tr>
         </thead>      
        <tbody>     
            <tr class="row" *ngFor="let item of items" >  
              <td class="col-sm-3" style="padding: 11px;">{{item.payload.doc.data().name}}</td>  
              <td class="col-sm-6 ">{{item.payload.doc.data().especialidad}}</td>  
              <td class="col-sm-3">{{item.payload.doc.data().especialidad}}</td>  
            </tr>  
       </tbody>  
       </table>  
            
      </mat-card>  
    </div>  
  <div class="list-group users-list"  *ngIf="!detalles">
    <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="row">
        <div class="col col-md-2 image-col">
          <img class="image"  style="width: 300px;height:300px;"  [src]="item.payload.doc.data().avatar">
        </div>
        <div class="col col-md-8 text-col"style="margin-left:7%;"> 
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Datos Personales</li>
                </ol>
              </nav>
          <h5 class="mb-1"> Codigo de Legajo</h5>
          <small>{{item.payload.doc.data().name}}</small>
          <h5 class="mb-1">Especialidad</h5>

          <!-- <small>{{item.payload.doc.data().name}}</small> -->
    
          <small>{{item.payload.doc.data().especialidad}}</small>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Datos Laborales</li>
            </ol>
          </nav>
          <h5 class="mb-1"> Dias Laborables</h5>
          <small>{{item.payload.doc.data().diasDeTrabajo}}</small>
          <h5 class="mb-1"></h5>

          <!-- <small>{{item.payload.doc.data().horario}}</small> -->
    
        </div>
        <div class="col col-md-8 text-col">
          <h5 class="mb-1" style="text-transform:uppercase " >{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h5>
       
        </div>
        <div class="col col-md-2 actions-col">
          <button class="btn btn-outline-primary action" (click)="viewDetails(item.payload.doc.id)" type="button">
            <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
          </button>
          <!-- <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
            <ion-icon name="md-clock">Asignar</ion-icon>
          </button> -->
        </div>
      </div>
    </div>

 
  </div>


  <!--  editar espe-->

  <!-- <div class="edit-page">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Edit User</li>
      </ol>
    </nav> -->

      <div class="row" *ngIf="detalles" >
        <div class="col col-md-4">
          <img class="img-avatar"  [src]="avatar">
          <!-- <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Avatar</button> -->
        </div>
        <div class="col col-md-8">
  
          <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
  
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput [(ngModel)]="name" placeholder="Name" class="form-control" formControlName="name">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.name">
                <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
              </ng-container>
            </div>
  
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput [(ngModel)]="surname" placeholder="Surname" class="form-control" formControlName="surname">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.surname">
                <mat-error *ngIf="exampleForm.get('surname').hasError(validation.type) && (exampleForm.get('surname').dirty || exampleForm.get('surname').touched)">{{validation.message}}</mat-error>
              </ng-container>
            </div>
  
            <div class="form-group">
              <mat-form-field class="input-style">
                <input matInput [(ngModel)]="age" type="number" min="0" max="100" placeholder="Age" class="form-control" formControlName="age">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.age">
                <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation.message}}</mat-error>
              </ng-container>
            </div>
  
            <div class="row submit-button-container">
              <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Save</button>
              </div>
              <div class="col-md-4">
                <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  <!-- </div> -->
  