<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>








<div class="row">
    <button class="btn btn-outline-primary action" (click)="imprimir()" type="button">
        Excel
        </button>
        <button class="btn btn-outline-primary action" (click)="exportPDF()" type="button">
            PDF2
            </button>
    <div class="col-md-4 offset-md-1">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
        <div class="input-group-append">
          <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 filter-by-age">
      
      <div class="row">
        <div class="col-md-auto title">
          <span>Filter by age (older than):</span>
        </div>
        <div class="col">
          <span>0 </span>
          <mat-slider
            class="age-slider"
            max="100"
            min="0"
            step="1"
            thumbLabel="true"
            (ngModel)="ageValue"
            (change)="rangeChange($event)">
          </mat-slider>
          <span> 100</span>
        </div>
      </div>
    </div>
  </div>

   <!-- listado pdf   -------------------------------------------------------------------------------- -->
  <div style="padding-left: 22px !important;">  
      <mat-card style="width: 550px;">  
        <table  class="table table-striped" id="contentToConvert">  
          <thead class="thead-dark"> 
            <tr class="row">  
              <th class="col-sm-3">Legajo</th>  
              <th class="col-sm-6">Nombre</th>  
              <th class="col-sm-3">Especialidad</th>  
            </tr>
         </thead>      
        <tbody>     
            <tr class="row" *ngFor="let item of items" >  
              <td class="col-sm-3" style="padding: 11px;">{{item.payload.doc.data().name}}</td>  
              <td class="col-sm-6 ">{{item.payload.doc.data().especialidad}}</td>  
              <td class="col-sm-3">{{item.payload.doc.data().especialidad}}</td>  
            </tr>  
       </tbody>  
       </table>  
            
      </mat-card>  
    </div>  
  <div class="list-group users-list">
    <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="row">
        <div class="col col-md-2 image-col">
          <img class="image"  style="width: 300px;height:300px;"  [src]="item.payload.doc.data().avatar">
        </div>
        <div class="col col-md-8 text-col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Datos Personales</li>
                </ol>
              </nav>
          <h5 class="mb-1"> Codigo de Legajo</h5>
          <small>{{item.payload.doc.data().name}}</small>
          <h5 class="mb-1">Especialidad</h5>

          <!-- <small>{{item.payload.doc.data().name}}</small> -->
    
          <small>{{item.payload.doc.data().especialidad}}</small>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Datos Laborales</li>
            </ol>
          </nav>
          <h5 class="mb-1"> Dias Laborables</h5>
          <small>{{item.payload.doc.data().diasDeTrabajo}}</small>
          <h5 class="mb-1"></h5>

          <!-- <small>{{item.payload.doc.data().horario}}</small> -->
    
        </div>
        <div class="col col-md-8 text-col">
          <h5 class="mb-1" style="text-transform:uppercase " >{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h5>
       
        </div>
        <div class="col col-md-2 actions-col">
          <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
            <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
          </button>
          <!-- <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
            <ion-icon name="md-clock">Asignar</ion-icon>
          </button> -->
        </div>
      </div>
    </div>

 
  </div>


  