<div class="container-fluid">
        <div class="row" style=" padding-top: 90px;height:35%;padding-bottom: 350px">
            <div class="col-md-12">
                <div class="alert alert-dismissable alert-info">
                     
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Inicie Sesión</span>

                    </button> -->
                    <div class="row" >
                                <div  style="max-width: 11%;">
                                       <ion-icon ios="ios-alert" md="md-alert" style="font-size:129px" ></ion-icon>
                                </div>
                                <div class="col-md-10" style="font-size: 40px">
                                  Debe estar autenticado para acceder a la información y haber vinculado su número de afiliado.
                                   <!-- <a href="#" class="alert-link">Ingrese Aquí</a> -->
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>