<!-- media queries css -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div id="pagewrap" style="width:100%">

	<header id="header">

	
			<h1 id="site-logo"><a href="#">Principal</a></h1>
			<h2 id="site-description">{{title}}</h2>
    
		<nav>

			<ul id="main-nav" class="clearfix">
					<li><a  routerLink="/principal" class="btn">HOME </a> </li>
					<li><a  routerLink="/tateti" class="btn">TATETI </a> </li>
					<li><a  routerLink="/agilidad" class="btn">JUEGO DE AGIIDAD </a> </li>

				<li><a  routerLink="/anagrama" class="btn">ANAGRAMA<br> </a> </li>
				<li><a  routerLink="/preguntas" class="btn">PREGUNTA2 </a> </li>
				<li><a  routerLink="/ppt" class="btn">PIEDRA PAPEL O TIJERA </a> </li>
				<li><a  routerLink="/adivinanum" class="btn">ADIVINA EL NUMERO </a> </li>
				<li><a  routerLink="/listadoresult" class="btn">LISTA DE RESULTADOS </a> </li>
				<li><a  routerLink="/soy" class="btn">SOBRE MI..</a> </li>
				<li><a   href="https://github.com/julianreinoso94" class="btn">MIGITHUB.</a> </li>




			
				
				<li> <a (click)="logout()" class="btn btn-success">Salir</a> </li>
				
			</ul>
			<!-- /#main-nav --> 
		</nav>


	</header>

<!-- <app-NavbarComponent></app-NavbarComponent> -->
<!--Donde se encuentre este tag, se instancian los componentes dependientes del ruteo-->
<router-outlet></router-outlet>
