<div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
	  	<li class="nav-item">
	    	<a class="nav-link active" routerLink="home">
					<ion-icon name="list"></ion-icon>
				</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
					<ion-icon name="add"></ion-icon>
				</a>
		  </li>
		  <li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
					<ion-icon name="compass"></ion-icon>
				</a>
		  </li>

		  <li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
					<ion-icon name="download"></ion-icon>
				</a>
		  </li>
		  <li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
					<ion-icon name="calendar"></ion-icon>
				</a>
		  </li>
		  <li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
					<ion-icon name="pie"></ion-icon>
<!-- <					<span>Filter </span> -->

				</a>
		  </li>
		  <li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
					<ion-icon name="stats"></ion-icon>
				</a>
		  </li>
		  <li class="nav-item">
				<a class="nav-link" routerLink="altas">
						<ion-icon name="person-add"></ion-icon>
					</a>
			  </li>
		  <li class="nav-item">
			<a class="nav-link" (click)="logout()" style="color:red">
									<ion-icon name="log-out"></ion-icon>
				</a>
		  </li>
		

	
		  
		</ul>

		
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div>
