<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <h1 class="breadcrumb-item active" style="margin-left:2px" aria-current="page">COMENTARIOS</h1>

    </ol>
  </nav>


  <div class="list-group users-list">

      

  <div *ngFor="let item of listadoComentarios" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">

      <div class="col col-md-12 text-col">
        <div class="row" style="background-color: #e9ecef;">    
          <div class="col col-md-10 text-col">
             <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Comentario</li>
              </ol>
            </nav>
            </div>
            <div class="col col-md-1 text-col">
              <h3 style="color: green;font-weight: bold; ">+{{item.likes}}</h3>
             
            </div>
            <div class="col col-md-1 text-col">
              <h3 style="color: red;font-weight: bold; ">-{{item.dislikes}}</h3>
            </div>
        </div>
 
        <h3>{{item.descripcion}}</h3>
      
    
  
        <nav aria-label="breadcrumb">
          
			<button (click)="like(item)"    style="  color: white;font-weight: bold;font-size: 33px;   border-radius: 8px !important;padding: .84rem 2.14rem; width: 100%;background: linear-gradient(40deg,#21cf29,#1acf38)!important;" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light"
        mdbWavesEffect><ion-icon class="icon" name="md-checkmark-circle" ></ion-icon>+1
      </button>
      <button (click)="dislike(item)"  style="  color: white;font-weight: bold;font-size: 33px;   border-radius: 8px !important;padding: .84rem 2.14rem; width: 100%;background: linear-gradient(40deg,#e75b24,#ff0000)!important;" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light"
      mdbWavesEffect><ion-icon class="icon" name="md-checkmark-circle" ></ion-icon> -1
    </button>
        </nav>
       
      </div>
      <div class="col col-md-8 text-col">
     
      </div>
    </div>
  </div>
</div>
