<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div class="fondo">
  <div name="juego" >
    <h1 style="color:white; text-align:center">Agilidad Aritmetica</h1>
  <ul style="list-style:none;margin-left: 417px; color:white;">
     <li>
     Primer número: <input [(ngModel)]="nuevoJuego.primerNumero" placeholder="Primer Numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
    </li>
    <li>
     Operador: <input [(ngModel)]="nuevoJuego.operador" placeholder="Operador" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
      
    </li>
    <li>
     Segundo número: <input [(ngModel)]="nuevoJuego.segundoNumero" placeholder="Segundo Numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
      
    </li>
    <li>
      Respuesta: <input [(ngModel)]="nuevoJuego.resultadoUsuario" placeholder="ingrese Respuesta" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
       
     </li>
    <li>
      <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg" >Verificar {{Tiempo}} </button></h2>
    </li>
    <li><br>
      <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-outline-warning btn-lg" style="
        padding: 20px;" >Nuevo</button></h2>
    </li>
    <li [hidden]="ocultarVerificar">
      <h2><p><i class="loader" ></i>         Esperando numero...</p></h2>
    </li>
  </ul>
  
  </div>
  
  <div id="snackbar">{{Mensajes}}</div>
    <br><br><br><br><br><br><br><br>
  </div>