<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div class="fondo">
    <div name="juego" >
      <h1 style="color:navy; text-align:center">PREGUNTA2</h1>
    <ul style="list-style:none; color:navy;">
       <li>
      PREGUNTA:
     <input [(ngModel)]="preguntas[count]" placeholder="Primer Numero" name="numeroIngresado" type="text" class="form-control" style="background-color:gray ;font-size: 46px" readonly/>
      
      </li>

      <li>
          <button class="btn btn-lg btn-success btn-block" style="background-color:greenyellow ;font-size: 46px"  (click)="respuesta('0')" >{{respuestas[0]}}</button>

        
      </li>
      <li>
          <button class="btn btn-lg btn-success btn-block" style="background-color:greenyellow ;font-size: 46px"  (click)="respuesta('1')" >{{respuestas[1]}}</button>

         
       </li>
       <li>
          <button class="btn btn-lg btn-success btn-block" style="background-color:greenyellow ;font-size: 46px"  (click)="respuesta('2')" >{{respuestas[2]}}</button>

         
       </li>

<button class="btn btn-lg btn-success btn-block" style="background-color:blue ;font-size:22px;width:  "  (click)="siguiente()"> Siguiente Pregunta</button>



      <li [hidden]="ocultarVerificar">
        <h2><p><i class="loader" ></i>    {{resultado}}</p></h2>
      </li>
    </ul>
    
    </div>
    
    <div id="snackbar">{{Mensajes}}</div>
      <br><br><br><br><br><br><br><br>
    </div>