<!-- <div class="card-columns">
    <div class="card" style="width: auto; height: auto; padding: 0px; border-width: 0px; left: 0px; top: 0px;">
        <app-carrousel></app-carrousel> -->
 
        <div class="container-fluid">
                <div class="jumbotron" >
      
                        <div class="col-md-12 " style="font-weight:bold;">
                            
                        </div>
                    </div>

            
                <div class="row">
                <div class="col-md-12" style="padding-left: 0px !important;padding-right: 0%!important;">

                        <!-- <img style="width: 100%; height: 475.646px;" src="https://previews.123rf.com/images/antonioguillem/antonioguillem1702/antonioguillem170200326/73036449-dentista-y-el-paciente-la-elecci%C3%B3n-de-tratamiento-en-una-consulta-con-los-equipos-m%C3%A9dicos-en-el-fondo.jpg" alt="Channai Metro">   -->
                        <div class="content" style="  position: absolute;
                        bottom: 0;
                        background: rgb(0, 106, 133); /* Fallback color */
                        background: rgba(24, 21, 197, 0.5); /* Black background with 0.5 opacity */
                        color: #f1f1f1;
                        width: 100%;
                        padding: 20px;">
                                <h1>Conocenos mas...</h1>
                        </div>
                </div>
                </div>
                <div class="row">

            
              
                  <div class="col-md-12" style="padding-left: 0px !important;padding-right: 0%!important;">
                      <app-carrousel  img class="d-block w-100" alt="Carousel Bootstrap First" style=" color: rgb(0, 0, 0);padding-left: 0px !important;padding-right: 0%!important;" ></app-carrousel>
                          <div class="carousel-caption">
                          
                                             </div>
                    <div class="carousel slide" id="carousel-765893" style="margin-left: 0%!important;margin-right:0%!important;">
                  
                       <div class="carousel-inner" style="padding-left: 0px !important;padding-right: 0%!important; ">
                       
                        <div class="carousel-item active"style="padding-left: 0px !important;padding-right: 0%!important; ">
                            
                         
                      
                        </div>
      
                  
      
      
                      
          



                    <div class="jumbotron" >
      
                      <div class="col-md-12 " style="font-weight:bold;">
                                          <div >
                                            <p> La clínica Buena Sonrisa, especialista en salud
                                                dental, cuenta actualmente con siete consultorios
                                                (más otros tres que están en construcción), dos
                                                laboratorios (uno especializado en diagnóstico por
                                                imágenes, y otro en mecánica dental), y una sala
                                                de espera general. 
                                            </p>
                                            <p>
                                                Está abierta al público de lunes
                                                a viernes en el horario de 8:00 a 19:00, y los
                                                sábados en el horario de 8:00 a 14:00.</p>
                                            <p>
                                                Trabajan en ella profesionales de diversas especialidades, que ocupan los consultorios acorde a su
                                                disponibilidad, y reciben en ellos pacientes con turno para consulta o tratamiento. Dichos turnos
                                                son asignados de forma centralizada por el área de recepción, que recibe las solicitudes
                                                personalmente, por teléfono, por e-mail o a través del sitio web de la clínica. La duración mínima de
                                                un turno es de 15 minutos.”
                                            </p>
                              
                                     </div>
                                      </div>
                    </div>

                    
                 
      
              </div>