<body>
<div *ngIf="!unAlumno">


  <button class="btn btn-lg btn-warning btn-block"  (click)="nuevoAlumno()">Nuevo </button>


</div>
<div >
  <h2> Crear Estrella de Cine</h2>
  <div>
    <label>id:
      <input [(ngModel)]="id" placeholder="nombre">
    </label>
  </div>
  <div>
      <label>Nombre:
        <input [(ngModel)]="nombre"  placeholder="nombre">
      </label>
    </div>
 
    <div>
      <label>Apellido:
        <input [(ngModel)]="apellido" placeholder="Apellido">
      </label>
    </div>
    <div>
      <label>Nacionalidad:
        <input [(ngModel)]="nacionalidad" placeholder="nacionalidad">
      </label>
    </div>
    <div>
      <label>Fecha Nacimiento:
        <input [(ngModel)]="fechanac" placeholder="Fecha nacimiento">
      </label>
    </div>

    <!-- <img class="card-img-top" src="/assets/imagenes/pordefecto.png" alt="Card image" style="width:70px"> -->
    <!-- <button type="button" class="btn btn-default btn-circle" ><i class="fa fa-cloud-upload"></i>Cambiar</button> -->
    <button class="btn btn-lg btn-success btn-block" style="background-color: aqua; font-size: 46px;margin-left:260px"  (click)="crearestrellacine()">Crear</button>

  


</div>
</body>