<div >  
  
    <div>  
        <ngb-carousel style="margin-left: 0%!important;margin-right:0%!important;">  
            <ng-template ngbSlide style="margin-left: 0%!important;margin-right:0%!important;">  
                <img style="width: 100%; height: 475.646px;" src="../assets/fondo3.jpg" alt="Delhi Metro">  
                <div class="content" style="  position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 20px;">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
                </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <img style="width: 100%; height: 475.646px;" src="../assets/fondo2.jpg" alt="Bangalore Metro">  
                <div class="content" style="  position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 20px;">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
                </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <img style="width: 100%; height: 475.646px;" src="../assets/fondo1.jpg" alt="Channai Metro">  
                <div class="content" style="  position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 20px;">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
                </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <img style="width: 100%; height: 475.646px;"src="../assets/fondo2.jpg" alt="Jaipur Metro">  
                <div class="content" style="  position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 20px;">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
                </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <img style="width: 100%; height: 475.646px;" src="../assets/fondo3.jpg" alt="Mumbai Metro">  
                <div class="content" style="  position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 20px;">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
                </div>
            </ng-template>  
        </ngb-carousel>  
    </div>  
  
</div> 