<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


  <div class="list-group users-list">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Habilitar Turnos!</li>
          </ol>
        </nav>
        

    <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start" style=" background: rgba(76, 175, 80, 0.3)">
      <div class="row">
        <!-- <div class="col col-md-2 image-col">
          <img class="image" [src]="item.payload.doc.data().avatar">
        </div> -->
        <div class="col col-md-12 text-col" style=" background: rgba(76, 175, 80, 0.3)">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Datos Del Turno</li>
                </ol>
              </nav>
          <h5 class="mb-1"> Codigo de Turno</h5>
          <small>{{item.payload.doc.data().numTurno}}</small>
          <h5 class="mb-1">Información del Profesional </h5>

          <small>Especialidad: {{item.payload.doc.data().especialidad}}</small>
          <h5 class="mb-1">profesional</h5>

          <small>{{item.payload.doc.data().profesional}} </small>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
          </nav>
          <h5 class="mb-1"> Dias Turno</h5>
          <small>{{item.payload.doc.data().DiaTurno}}</small>

          <small>{{item.payload.doc.data().horario}}</small>
    
        </div>
        <div class="col col-md-8 text-col">
          <h5 class="mb-1">Email del Paciente</h5>

          <small>{{item.payload.doc.data().email}} </small>
       
        </div>
        <div class="col col-md-2 actions-col">
          <button class="btn btn-outline-primary action"  style=" background-color: green; color: black " (click)="habilitarTurno(item)" type="button">
            <ion-icon class="icon"  name="checkmark-circle"></ion-icon>Habilitar
          </button>
          <button class="btn btn-outline-secondary action" style=" background-color: RED; color: black  "(click)="cancelarTurno(item)" type="button">
            <ion-icon name="close-circle"></ion-icon>Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  