.fondo{

    /* background-image: url(".../../../docs/assets/imagenes/color_principal.jpg"); */
      margin-top: -60px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    
  form {
      border: 2px solid rgb(33, 243, 44);
   
      background: rgba(52, 54, 52, 0.8);
      color: white;
      
  }
  
  h1{
      font-size: 3.5rem;
      text-align: center;
  }
  #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
     
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
  }
  #snackbar.Ganador {
      background-color: rgba(7, 55, 214, 0.973);
  }
  #snackbar.Perdedor {
      background-color: rgb(255, 0, 0);
  }
  #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  
  .loader {
      font-size: 10px;
      margin: 50px auto;
      text-indent: -9999em;
      width: 11em;
      height: 11em;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: -webkit-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: -o-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: -ms-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: linear-gradient(to right, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      position: relative;
      border: solid rgb(165, 3, 79);
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
    .loader:before {
      width: 50%;
      height: 50%;
      background: #ffffff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    .loader:after {
      
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }